<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.seaaddicts.brockbutler"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="edu.seaaddicts.brockbutler.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="edu.seaaddicts.brockbutler.MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.seaaddicts.brockbutler.maps.MapsActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_map"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="edu.seaaddicts.brockbutler.help.HelpActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.seaaddicts.brockbutler.scheduler.SchedulerActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_scheduler"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.seaaddicts.brockbutler.contacts.ContactsActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_contacts"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.seaaddicts.brockbutler.coursemanager.CourseManagerActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/activity_coursemanager"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.seaaddicts.brockbutler.tour.TourActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_tour"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="edu.seaaddicts.brockbutler.scheduler.AddTaskActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_add_task"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.seaaddicts.brockbutler.contacts.AddContactActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/activity_add_contact"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.seaaddicts.brockbutler.coursemanager.AddCourseActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_add_course"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>